In [27]:
import pandas as pd 
from funpymodeling import freq_tbl, status

In [28]:
game_path = 'C:/Users/Administrador/Desktop/Game/Data/Video_Games_Sales_as_at_22_Dec_2016.csv'
data = pd.read_csv(game_path, sep= ',')

In [29]:
status(data)

           variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0              Name      2  0.000120        0  0.000000   11562   object
1          Platform      0  0.000000        0  0.000000      31   object
2   Year_of_Release    269  0.016089        0  0.000000      39  float64
3             Genre      2  0.000120        0  0.000000      12   object
4         Publisher     54  0.003230        0  0.000000     581   object
5          NA_Sales      0  0.000000     4511  0.269813     402  float64
6          EU_Sales      0  0.000000     5874  0.351337     307  float64
7          JP_Sales      0  0.000000    10515  0.628925     244  float64
8       Other_Sales      0  0.000000     6604  0.395000     155  float64
9      Global_Sales      0  0.000000        0  0.000000     629  float64
10     Critic_Score   8582  0.513308        0  0.000000      82  float64
11     Critic_Count   8582  0.513308        0  0.000000     106  float64
12       User_Score   6704  0.400981        0  0.000000      96   object
13       User_Count   9129  0.546025        0  0.000000     888  float64
14        Developer   6623  0.396136        0  0.000000    1696   object
15           Rating   6769  0.404869        0  0.000000       8   object

## Descarto columnas irrelevantes

In [30]:
data.drop(columns=['User_Count', 'Critic_Count', 'Developer'], inplace=True)

In [31]:
status(data)

           variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0              Name      2  0.000120        0  0.000000   11562   object
1          Platform      0  0.000000        0  0.000000      31   object
2   Year_of_Release    269  0.016089        0  0.000000      39  float64
3             Genre      2  0.000120        0  0.000000      12   object
4         Publisher     54  0.003230        0  0.000000     581   object
5          NA_Sales      0  0.000000     4511  0.269813     402  float64
6          EU_Sales      0  0.000000     5874  0.351337     307  float64
7          JP_Sales      0  0.000000    10515  0.628925     244  float64
8       Other_Sales      0  0.000000     6604  0.395000     155  float64
9      Global_Sales      0  0.000000        0  0.000000     629  float64
10     Critic_Score   8582  0.513308        0  0.000000      82  float64
11       User_Score   6704  0.400981        0  0.000000      96   object
12           Rating   6769  0.404869        0  0.000000       8   object

## Elimino filas donde faltan los valores mas importantes

In [32]:
data = data.dropna(subset=['Rating', 'Critic_Score', 'User_Score'])

#### Convierto tipo de datos

La columna de User_Score debe ser numerica

In [33]:
data['User_Score'] = pd.to_numeric(data['User_Score'], errors='coerce')

In [34]:
status(data)

           variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0              Name      0  0.000000        0  0.000000    5012   object
1          Platform      0  0.000000        0  0.000000      17   object
2   Year_of_Release    147  0.018318        0  0.000000      25  float64
3             Genre      0  0.000000        0  0.000000      12   object
4         Publisher      4  0.000498        0  0.000000     293   object
5          NA_Sales      0  0.000000      563  0.070156     352  float64
6          EU_Sales      0  0.000000     1278  0.159252     273  float64
7          JP_Sales      0  0.000000     5951  0.741558     157  float64
8       Other_Sales      0  0.000000     1768  0.220312     144  float64
9      Global_Sales      0  0.000000        0  0.000000     540  float64
10     Critic_Score      0  0.000000        0  0.000000      82  float64
11       User_Score   1078  0.134330        0  0.000000      89  float64
12           Rating      0  0.000000        0  0.000000       7   object

### Variables categoricas

In [35]:
data = pd.get_dummies(data, columns= ['Platform', 'Genre', 'Rating'], drop_first=True)

In [36]:
status(data)

              variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0                 Name      0  0.000000        0  0.000000    5012   object
1      Year_of_Release    147  0.018318        0  0.000000      25  float64
2            Publisher      4  0.000498        0  0.000000     293   object
3             NA_Sales      0  0.000000      563  0.070156     352  float64
4             EU_Sales      0  0.000000     1278  0.159252     273  float64
5             JP_Sales      0  0.000000     5951  0.741558     157  float64
6          Other_Sales      0  0.000000     1768  0.220312     144  float64
7         Global_Sales      0  0.000000        0  0.000000     540  float64
8         Critic_Score      0  0.000000        0  0.000000      82  float64
9           User_Score   1078  0.134330        0  0.000000      89  float64
10         Platform_DC      0  0.000000     8011  0.998255       2     bool
11         Platform_DS      0  0.000000     7314  0.911402       2     bool
12        Platform_GBA      0  0.000000     7591  0.945919       2     bool
13         Platform_GC      0  0.000000     7577  0.944174       2     bool
14         Platform_PC      0  0.000000     7355  0.916511       2     bool
15         Platform_PS      0  0.000000     7836  0.976449       2     bool
16        Platform_PS2      0  0.000000     6727  0.838255       2     bool
17        Platform_PS3      0  0.000000     7213  0.898816       2     bool
18        Platform_PS4      0  0.000000     7784  0.969969       2     bool
19        Platform_PSP      0  0.000000     7564  0.942555       2     bool
20        Platform_PSV      0  0.000000     7905  0.985047       2     bool
21        Platform_Wii      0  0.000000     7444  0.927601       2     bool
22       Platform_WiiU      0  0.000000     7935  0.988785       2     bool
23       Platform_X360      0  0.000000     7118  0.886978       2     bool
24         Platform_XB      0  0.000000     7304  0.910156       2     bool
25       Platform_XOne      0  0.000000     7864  0.979938       2     bool
26     Genre_Adventure      0  0.000000     7724  0.962492       2     bool
27      Genre_Fighting      0  0.000000     7618  0.949283       2     bool
28          Genre_Misc      0  0.000000     7507  0.935452       2     bool
29      Genre_Platform      0  0.000000     7529  0.938193       2     bool
30        Genre_Puzzle      0  0.000000     7805  0.972586       2     bool
31        Genre_Racing      0  0.000000     7299  0.909533       2     bool
32  Genre_Role-Playing      0  0.000000     7291  0.908536       2     bool
33       Genre_Shooter      0  0.000000     7085  0.882866       2     bool
34    Genre_Simulation      0  0.000000     7679  0.956885       2     bool
35        Genre_Sports      0  0.000000     6850  0.853583       2     bool
36      Genre_Strategy      0  0.000000     7734  0.963738       2     bool
37            Rating_E      0  0.000000     5238  0.652710       2     bool
38         Rating_E10+      0  0.000000     6908  0.860810       2     bool
39          Rating_K-A      0  0.000000     8024  0.999875       2     bool
40            Rating_M      0  0.000000     6542  0.815202       2     bool
41           Rating_RP      0  0.000000     8023  0.999751       2     bool
42            Rating_T      0  0.000000     5391  0.671776       2     bool

In [37]:
data

,Name,Year_of_Release,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,...,Genre_Shooter,Genre_Simulation,Genre_Sports,Genre_Strategy,Rating_E,Rating_E10+,Rating_K-A,Rating_M,Rating_RP,Rating_T
0,Wii Sports,2006.0,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,8.0,...,False,False,True,False,True,False,False,False,False,False
2,Mario Kart Wii,2008.0,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,8.3,...,False,False,False,False,True,False,False,False,False,False
3,Wii Sports Resort,2009.0,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,8.0,...,False,False,True,False,True,False,False,False,False,False
6,New Super Mario Bros.,2006.0,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,8.5,...,False,False,False,False,True,False,False,False,False,False
7,Wii Play,2006.0,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,6.6,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16699,Planet Monsters,2001.0,Titus,0.01,0.00,0.00,0.00,0.01,67.0,NaN,...,False,False,False,False,True,False,False,False,False,False
16700,Breach,2011.0,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,5.8,...,True,False,False,False,False,False,False,False,False,True
16701,Bust-A-Move 3000,2003.0,Ubisoft,0.01,0.00,0.00,0.00,0.01,53.0,NaN,...,False,False,False,False,True,False,False,False,False,False
16702,Mega Brain Boost,2008.0,Majesco Entertainment,0.01,0.00,0.00,0.00,0.01,48.0,NaN,...,False,False,False,False,True,False,False,False,False,False
16706,STORM: Frontline Nation,2011.0,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,7.2,...,False,False,False,True,False,True,False,False,False,False

Convierto todos los bools en 0 y 1.

In [38]:
bool_cols = data.select_dtypes(include=['bool']).columns
data[bool_cols] = data[bool_cols].astype(int)

In [39]:
data

,Name,Year_of_Release,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,...,Genre_Shooter,Genre_Simulation,Genre_Sports,Genre_Strategy,Rating_E,Rating_E10+,Rating_K-A,Rating_M,Rating_RP,Rating_T
0,Wii Sports,2006.0,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,8.0,...,0,0,1,0,1,0,0,0,0,0
2,Mario Kart Wii,2008.0,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,8.3,...,0,0,0,0,1,0,0,0,0,0
3,Wii Sports Resort,2009.0,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,8.0,...,0,0,1,0,1,0,0,0,0,0
6,New Super Mario Bros.,2006.0,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,8.5,...,0,0,0,0,1,0,0,0,0,0
7,Wii Play,2006.0,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,6.6,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16699,Planet Monsters,2001.0,Titus,0.01,0.00,0.00,0.00,0.01,67.0,NaN,...,0,0,0,0,1,0,0,0,0,0
16700,Breach,2011.0,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,5.8,...,1,0,0,0,0,0,0,0,0,1
16701,Bust-A-Move 3000,2003.0,Ubisoft,0.01,0.00,0.00,0.00,0.01,53.0,NaN,...,0,0,0,0,1,0,0,0,0,0
16702,Mega Brain Boost,2008.0,Majesco Entertainment,0.01,0.00,0.00,0.00,0.01,48.0,NaN,...,0,0,0,0,1,0,0,0,0,0
16706,STORM: Frontline Nation,2011.0,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,7.2,...,0,0,0,1,0,1,0,0,0,0

# Clasificacin

### Separacion X de Y

In [40]:
data_x = data.drop(columns=["Name", "Publisher", "Global_Sales"], axis=1)
data_y = data["Global_Sales"]

In [41]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.2)

## Creacion del modelo predictivo

In [44]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=1000, random_state=99)

In [45]:
rf.fit(x_train, y_train)

RandomForestRegressor(n_estimators=1000, random_state=99)

## Evaluacion del modelo

In [47]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

y_pred = rf.predict(x_test)

print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R2 Score:", r2_score(y_test, y_pred))

Mean Absolute Error: 0.03478810508826601
Mean Squared Error: 0.03847698054201226
R2 Score: 0.982616731224642

## Guardo el modelo

In [50]:
import pickle

In [51]:
with open("C:/Users/Administrador/Desktop/Game/ventas.pkl", "wb") as handle:
    pickle.dump(rf, handle, protocol=pickle.HIGHEST_PROTOCOL)